#myskills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTiitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.skillBars{
    margin: 0.3rem;
    width: 90vw;
    max-width: 80%;
    text-align: left;
}